<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>會員管理</h2>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'member_create' %}" class="btn btn-primary mt-3">新增會員</a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <table class="table table-striped">
                        <!-- ... 表格內容 ... -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>